server {
  listen [::]:443 ssl;
  http2 on;
  server_name @EVENT_MANAGER_FRONTEND_EXTERNAL_DOMAIN;

  # ssl_certificate /var/www/cert/fullchain.pem;
  # ssl_certificate_key /var/www/cert/privkey.pem;

  error_log  /var/log/nginx/error.log;
  access_log /var/log/nginx/access.log;

  charset utf-8;
  add_header X-Frame-Options "SAMEORIGIN";
  add_header X-Content-Type-Options "nosniff";
  # location = /favicon.ico { 
  #   access_log off;
  #   log_not_found off;
  # }
  # location = /robots.txt { 
  #   access_log off;
  #   log_not_found off;
  # }

  client_max_body_size 10M;

  location / {
      proxy_pass http://frontend:5173;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "Upgrade";
      proxy_redirect                      off;
      proxy_set_header Host               $host;
      proxy_set_header X-Real-IP          $remote_addr;
      proxy_set_header X-Forwarded-For    $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto  $scheme;
  }
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;
    server_name @EVENT_MANAGER_BACKEND_EXTERNAL_DOMAIN;

    # ssl_certificate /var/www/cert/fullchain.pem;
    # ssl_certificate_key /var/www/cert/privkey.pem;

    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;

    charset utf-8;
    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-Content-Type-Options "nosniff";
  # location = /favicon.ico { 
  #   access_log off;
  #   log_not_found off;
  # }
  # location = /robots.txt { 
  #   access_log off;
  #   log_not_found off;
  # }

    client_max_body_size 10M;

    location / {
        proxy_pass http://backend:3000;
    }
}

# HTTPS redirection
server {
    if ($host = @EVENT_MANAGER_FRONTEND_EXTERNAL_DOMAIN) {
        return 301 https://$host$request_uri;
    }

    listen 80;
    listen [::]:80;
    server_name @EVENT_MANAGER_FRONTEND_EXTERNAL_DOMAIN;
    return 404;
}

server {
    if ($host = @EVENT_MANAGER_BACKEND_EXTERNAL_DOMAIN) {
        return 301 https://$host$request_uri;
    }

    listen 80;
    listen [::]:80;
    server_name @EVENT_MANAGER_BACKEND_EXTERNAL_DOMAIN;
    return 404;
}
